.section-heading {
  font-size: 2.5rem;
}

.section-intro {
  font-size: 1.25rem;
}

.welcome-section {
  .headline {
    font-size: 2.5rem;
    font-weight: bold;
  }
  .subheadline {
    font-size: 1.25rem;
  }
}

.howItWorks-section {
  .item-inner {
    height: 100%;
  }
  .item-icon {
    font-size: 3rem;
    color: $theme-color-primary;
  }
  .item-heading {
    font-size: 1.125rem;
  }
}

.aboutUs-section {
  color: #fff;

  .author-pic {
    width: 150px;
    height: 150px;
  }
  .social-list {
    li {
      background: rgba(0, 0, 0, 0.1);
      width: 36px;
      height: 36px;
      display: inline-block;
      @include border-radius(50%);
      padding-top: 6px;
      &:hover {
        background: rgba(0, 0, 0, 0.15);
      }
    }
    a {
      color: #fff;
    }
  }
}

.theme-bg-primary {
  a.theme-link {
    color: #fff;
    text-decoration: underline;
    -webkit-text-decoration-color: rgba(256, 256, 256, 0.5);
    text-decoration-color: rgba(256, 256, 256, 0.5);
    &:hover {
      color: #fff;
      -webkit-text-decoration-color: #fff;
      text-decoration-color: #fff;
    }
  }
}

/* ===== Responsive ======== */
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .hero-quotes .quote:after {
    left: 50%;
    margin-left: -10px;
  }
  .reviews-section .source-profile {
    margin-bottom: 0.5rem;
  }
  .form-inline .form-control {
    width: 200px;
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .section-heading {
    font-size: 1.75rem;
  }

  .section-intro {
    font-size: 1.125rem;
  }

  .hero-section {
    .headline {
      font-size: 2rem;
      font-weight: bold;
    }
    .subheadline {
      font-size: 1.125rem;
    }
  }
  .book-cover-holder .book-badge {
    width: 100px;
    height: 100px;
    padding-top: 25px;
    font-size: 1.25rem;
  }
}

@media (min-width: 576px) {
  .form-inline .form-control {
    width: 400px;
  }
}
