.send-container {
  width: 100%;
}

.send-container button {
  width: 30%;
}

.iti__flag {
  background-image: url("public/assets/plugins/intl-tel-input/build/img/flags.png");
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {
    background-image: url("public/assets/plugins/intl-tel-input/build/img/flags@2x.png");
  }
}