.full-width {
  width: 100% !important;
}

.language-dropdown {
  border-radius: 0;
  background-color: white;
  padding: .375rem .75rem!important;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgb(227, 233, 246);
  border-radius: .25rem;
}

.language-dropdown .filter-option-inner-inner {
  color: #7f84b1;
}

.full-width button {
  width: 30%;
}

.navbar-brand {
  margin-right: 0;
}

.site-logo {
  display: flex;
  align-items: center;
}

.title-container {
  display: flex;
}

.title-container a:hover {
  text-decoration: none;
}

.title-container .title {
  margin-right: 5px;
}

.title-container .title::after {
  margin-left: 5px;
  content: '|';
}

.logo-icon {
  height: 65px;
  width: 65px;
}

@media only screen and (max-width: 600px) {
  .title-container {
    flex-direction: column;
  }

  .title-container .title::after {
    content: '';
  }

  .full-width button {
    width: 100%;
  }

  .logo-text {
    font-size: 1.3rem !important;
  } 
}

.terms-link {
  color: #007bff !important;
}

.confirmation-message {
  display: none;
}

.confirmation-message h4 {
  color: #008000 !important;
}

.form-wrapper {
  max-height: 1000px;
}

.hidden {
  visibility: hidden;
  display: none;  
}

.visible {
  visibility: visible;
  display: block;
}

.iti__flag {
  background-image: url('public/assets/plugins/intl-tel-input/build/img/flags.png');
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {
    background-image: url('public/assets/plugins/intl-tel-input/build/img/flags@2x.png');
  }
}

/* Prevents iOS Safari from making phone number orange */
a[href^=tel] {
  text-decoration:inherit;
  color: inherit;
}

.iti {
  display: flex !important;
}

.text-orange {
  color: #e55712;
}
